<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CropsMapper">

    <select id="findIntersectingCrops" resultType="com.ruoyi.system.domain.entity.Crops">
        SELECT *
        FROM xian_crops
        WHERE ST_Intersects(point, ST_GeomFromText(#{wktPolygon}, 4490))
           OR ST_Within(point, ST_GeomFromText(#{wktPolygon}, 4490))
    </select>

</mapper>