<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DamConditionMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.DamCondition">
    <!--@mbg.generated-->
    <!--@Table dam_condition-->
    <id column="uuid" jdbcType="OTHER" property="uuid" />
    <result column="reservoir_name" jdbcType="VARCHAR" property="reservoirName" />
    <result column="dam_type" jdbcType="VARCHAR" property="damType" />
    <result column="project_scale" jdbcType="VARCHAR" property="projectScale" />
    <result column="disposal_team" jdbcType="VARCHAR" property="disposalTeam" />
    <result column="disposal_measures" jdbcType="VARCHAR" property="disposalMeasures" />
    <result column="initial_disposal_phase" jdbcType="VARCHAR" property="initialDisposalPhase" />
    <result column="start_disposal_date" jdbcType="TIMESTAMP" property="startDisposalDate" />
    <result column="estimated_completion_date" jdbcType="TIMESTAMP" property="estimatedCompletionDate" />
    <result column="actual_completion_date" jdbcType="TIMESTAMP" property="actualCompletionDate" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    uuid, reservoir_name, dam_type, project_scale, disposal_team, disposal_measures, 
    initial_disposal_phase, start_disposal_date, estimated_completion_date, actual_completion_date, 
    contact_person, contact_phone
  </sql>
</mapper>