<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ExplosionMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.Explosion">
    <!--@mbg.generated-->
    <!--@Table explosion-->
    <id column="uuid" jdbcType="OTHER" property="uuid" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="explosion_type" jdbcType="VARCHAR" property="explosionType" />
    <result column="impact_area" jdbcType="NUMERIC" property="impactArea" />
    <result column="casualties" jdbcType="VARCHAR" property="casualties" />
    <result column="response_team" jdbcType="VARCHAR" property="responseTeam" />
    <result column="response_measure" jdbcType="VARCHAR" property="responseMeasure" />
    <result column="initial_response_stage" jdbcType="VARCHAR" property="initialResponseStage" />
    <result column="start_response_date" jdbcType="TIMESTAMP" property="startResponseDate" />
    <result column="estimated_completion_date" jdbcType="TIMESTAMP" property="estimatedCompletionDate" />
    <result column="actual_completion_date" jdbcType="TIMESTAMP" property="actualCompletionDate" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    uuid, enterprise_name, explosion_type, impact_area, casualties, response_team, response_measure, 
    initial_response_stage, start_response_date, estimated_completion_date, actual_completion_date, 
    contact_person, contact_phone
  </sql>
</mapper>