<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GeologicalDisasterHideMapper">

    <select id="findWithinCircle" resultType="com.ruoyi.system.domain.entity.GeologicalDisasterHide">
        SELECT id, field_code, disaster_name, disaster_type, lon, lat, position, scale_grade, risk_grade
        FROM xian_disaster_hide
        WHERE ST_DWithin(
            ST_Transform(ST_SetSRID(ST_MakePoint(lon, lat), 4490), 4490),
            ST_Transform(ST_SetSRID(ST_MakePoint(#{centerLon}, #{centerLat}), 4490), 4490),
            #{radiusMeters}
        )
    </select>

    <select id="selectDisasterHideAffectPoints" resultType="com.ruoyi.system.domain.entity.GeologicalDisasterHide">
         <![CDATA[
        SELECT
            *
        FROM xian_disaster_hide
        WHERE disaster_type IN ('滑坡', '泥石流')
          AND
            POWER(
                    (ST_X(ST_Transform(ST_SetSRID(ST_MakePoint(lon, lat), 4490), 3857))
                        - ST_X(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * COS(#{rotation} * PI() / 180)
                        +
                    (ST_Y(ST_Transform(ST_SetSRID(ST_MakePoint(lon, lat), 4490), 3857))
                        - ST_Y(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * SIN(#{rotation} * PI() / 180),
                    2
            ) / POWER(#{semiMajorAxis}, 2)
                +
            POWER(

                    - (ST_X(ST_Transform(ST_SetSRID(ST_MakePoint(lon, lat), 4490), 3857))
                        - ST_X(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * SIN(#{rotation} * PI() / 180)
                        +
                    (ST_Y(ST_Transform(ST_SetSRID(ST_MakePoint(lon, lat), 4490), 3857))
                        - ST_Y(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * COS(#{rotation} * PI() / 180),
                    2
            ) / POWER(#{semiMinorAxis}, 2)
                <= 1
        ]]>
    </select>

</mapper>
