<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HospitalMapper">

    <select id="selectHospitAffectPoints" resultType="com.ruoyi.system.domain.entity.Hospital">
        <![CDATA[
        SELECT
            id,
            name,
            address,
            type_code,
            type,
            level,
            institution_nature,
            devices,
            workers,
            sum_people,
            beds,
            province,
            city,
            county,
            country,
            unit_head,
            telephone,
            lon AS longitude,  -- 关键：给lon字段起别名，匹配实体类的longitude属性
            lat AS latitude,   -- 关键：给lat字段起别名，匹配实体类的latitude属性
            ST_AsText(point) AS geomText  -- 保留原geomText字段
        FROM xian_hospitals
        WHERE
            POWER(
                    (ST_X(ST_Transform(point, 3857))
                        - ST_X(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * COS(#{rotation} * PI() / 180)
                        +
                    (ST_Y(ST_Transform(point, 3857))
                        - ST_Y(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * SIN(#{rotation} * PI() / 180),
                    2
            ) / POWER(#{semiMajorAxis}, 2)
                +
            POWER(
                    - (ST_X(ST_Transform(point, 3857))
                        - ST_X(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * SIN(#{rotation} * PI() / 180)
                        +
                    (ST_Y(ST_Transform(point, 3857))
                        - ST_Y(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * COS(#{rotation} * PI() / 180),
                    2
            ) / POWER(#{semiMinorAxis}, 2)
                <= 1
        ]]>
    </select>

</mapper>