<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PeopleGDPMapper">

    <select id="findInsideCircle" resultType="com.ruoyi.system.domain.entity.PeopleGDP">
        <![CDATA[
        SELECT *, ST_AsText(geom) AS geomText
        FROM xian_gdp_people
        WHERE
            POWER(
                    (ST_X(ST_Transform(ST_Centroid(geom), 3857))
                        - ST_X(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * COS(#{rotation} * PI() / 180)
                        +
                    (ST_Y(ST_Transform(ST_Centroid(geom), 3857))
                        - ST_Y(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * SIN(#{rotation} * PI() / 180),
                    2
            ) / POWER(#{semiMajorAxis}, 2)
                +
            POWER(
                    - (ST_X(ST_Transform(ST_Centroid(geom), 3857))
                        - ST_X(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * SIN(#{rotation} * PI() / 180)
                        +
                    (ST_Y(ST_Transform(ST_Centroid(geom), 3857))
                        - ST_Y(ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude}, #{latitude}), 4490), 3857)))
                        * COS(#{rotation} * PI() / 180),
                    2
            ) / POWER(#{semiMinorAxis}, 2)
                <= 1
        ]]>
    </select>

</mapper>
