<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RescueActionSearchAreaMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.RescueActionSearchArea">
    <!--@mbg.generated-->
    <!--@Table rescue_action_search_area-->
    <id column="uuid" jdbcType="OTHER" property="uuid" />
    <result column="rescue_area_location" jdbcType="VARCHAR" property="rescueAreaLocation" />
    <result column="rescue_area_size_km2" jdbcType="DOUBLE" property="rescueAreaSizeKm2" />
    <result column="rescue_team_and_personnel_count" jdbcType="VARCHAR" property="rescueTeamAndPersonnelCount" />
    <result column="rescue_type" jdbcType="VARCHAR" property="rescueType" />
    <result column="rescue_time_plan" jdbcType="VARCHAR" property="rescueTimePlan" />
<!--    <result column="rescue_equipment_type" property="rescueEquipmentType" />-->
    <result column="need_engineering_machinery" jdbcType="BOOLEAN" property="needEngineeringMachinery" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    uuid, rescue_area_location, rescue_area_size_km2, rescue_team_and_personnel_count,
    rescue_type, rescue_time_plan, rescue_equipment_type, need_engineering_machinery,
    contact_person, contact_phone, record_time
  </sql>
</mapper>
