<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ReservoirMapper">

    <select id="findIntersectingReservoirs" resultType="com.ruoyi.system.domain.entity.Reservoir">
        SELECT *,ST_AsText(point) AS pointGeom
        FROM xian_reservoir_list
        WHERE ST_Intersects(point, ST_GeomFromText(#{wktPolygon}, 4490))
           OR ST_Within(point, ST_GeomFromText(#{wktPolygon}, 4490))
    </select>
    
    <select id="findWithinCircle" resultType="com.ruoyi.system.domain.entity.Reservoir">
        SELECT *, ST_AsText(point) AS pointGeom
        FROM xian_reservoir_list
        WHERE ST_DWithin(
            ST_Transform(point, 3857),
            ST_Transform(ST_SetSRID(ST_MakePoint(#{centerLon}, #{centerLat}), 4490), 3857),
            #{radiusMeters}
        )
    </select>

</mapper>
