<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RoadDamageMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.RoadDamage">
    <!--@mbg.generated-->
    <!--@Table road_damage-->
    <id column="uuid" jdbcType="OTHER" property="uuid" />
    <result column="earthquake_id" jdbcType="VARCHAR" property="earthquakeId" />
    <result column="affected_area" jdbcType="VARCHAR" property="affectedArea" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="highways_national_roads" jdbcType="VARCHAR" property="highwaysNationalRoads" />
    <result column="provincial_roads" jdbcType="VARCHAR" property="provincialRoads" />
    <result column="villages_with_road_closures" jdbcType="VARCHAR" property="villagesWithRoadClosures" />
    <result column="under_repair" jdbcType="VARCHAR" property="underRepair" />
    <result column="restored_roads" jdbcType="VARCHAR" property="restoredRoads" />
    <result column="total_coordinated_transport_capacity" jdbcType="INTEGER" property="totalCoordinatedTransportCapacity" />
    <result column="total_road_damage_km" jdbcType="NUMERIC" property="totalRoadDamageKm" />
    <result column="restored_km" jdbcType="NUMERIC" property="restoredKm" />
    <result column="pending_repair_km" jdbcType="NUMERIC" property="pendingRepairKm" />
    <result column="reporting_deadline" jdbcType="TIMESTAMP" property="reportingDeadline" />
    <result column="system_insert_time" jdbcType="TIMESTAMP" property="systemInsertTime" />
    <result column="earthquake_time" jdbcType="TIMESTAMP" property="earthquakeTime" />
    <result column="earthquake_name" jdbcType="VARCHAR" property="earthquakeName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    uuid, earthquake_id, affected_area, record_time, highways_national_roads, provincial_roads, 
    villages_with_road_closures, under_repair, restored_roads, total_coordinated_transport_capacity, 
    total_road_damage_km, restored_km, pending_repair_km, reporting_deadline, system_insert_time, 
    earthquake_time, earthquake_name
  </sql>
</mapper>