<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TemporaryShelterMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.TemporaryShelter">
    <!--@mbg.generated-->
    <!--@Table temporary_shelter-->
    <id column="uuid" jdbcType="OTHER" property="uuid" />
    <result column="shelter_name" jdbcType="VARCHAR" property="shelterName" />
    <result column="shelter_type" jdbcType="VARCHAR" property="shelterType" />
    <result column="basic_facilities" jdbcType="VARCHAR" property="basicFacilities" />
    <result column="capacity" jdbcType="VARCHAR" property="capacity" />
    <result column="management_unit" jdbcType="VARCHAR" property="managementUnit" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    uuid, shelter_name, shelter_type, basic_facilities, capacity, management_unit, contact_person, 
    contact_phone
  </sql>
</mapper>