<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TrafficControlPointsMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.TrafficControlPoints">
    <!--@mbg.generated-->
    <!--@Table traffic_control_points-->
    <id column="uuid" jdbcType="OTHER" property="uuid" />
    <result column="road_name" jdbcType="VARCHAR" property="roadName" />
    <result column="road_level" jdbcType="VARCHAR" property="roadLevel" />
    <result column="control_type" jdbcType="VARCHAR" property="controlType" />
    <result column="control_unit" jdbcType="VARCHAR" property="controlUnit" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    uuid, road_name, road_level, control_type, control_unit, contact_phone
  </sql>
</mapper>