<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UsableUnusableAirportsMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.UsableUnusableAirports">
    <!--@mbg.generated-->
    <!--@Table usable_unusable_airports-->
    <id column="uuid" jdbcType="OTHER" property="uuid" />
    <result column="airport_name" jdbcType="VARCHAR" property="airportName" />
    <result column="casualties" jdbcType="VARCHAR" property="casualties" />
    <result column="airport_level" jdbcType="VARCHAR" property="airportLevel" />
    <result column="disposal_team" jdbcType="VARCHAR" property="disposalTeam" />
    <result column="disposal_measures" jdbcType="VARCHAR" property="disposalMeasures" />
    <result column="initial_disposal_phase" jdbcType="VARCHAR" property="initialDisposalPhase" />
    <result column="initial_disposal_start_date" jdbcType="TIMESTAMP" property="initialDisposalStartDate" />
    <result column="initial_disposal_estimated_end_date" jdbcType="TIMESTAMP" property="initialDisposalEstimatedEndDate" />
    <result column="initial_disposal_actual_end_date" jdbcType="TIMESTAMP" property="initialDisposalActualEndDate" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    uuid, airport_name, casualties, airport_level, disposal_team, disposal_measures, 
    initial_disposal_phase, initial_disposal_start_date, initial_disposal_estimated_end_date, 
    initial_disposal_actual_end_date, contact_person, contact_phone
  </sql>
</mapper>