<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WaterPipeMapper">

    <select id="findIntersectingWaterPipes" resultType="com.ruoyi.system.domain.entity.WaterPipe">
        SELECT *,ST_AsText(geom) AS geomGeom
        FROM xian_water_pipe
        WHERE ST_Intersects(geom, ST_GeomFromText(#{wktPolygon}, 4490))
           OR ST_Within(geom, ST_GeomFromText(#{wktPolygon}, 4490))
    </select>

</mapper>
