<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XianDisasterRealMapper">
    <select id="selectDisasterRealByDisasterId" resultType="com.ruoyi.system.domain.entity.XianDisasterReal">
        SELECT
            disaster_id,
            disaster_trigger,
            plot_id,
            ST_AsText(geom) AS geom,
            plot_type,
            start_time,
            end_time,
            drawtype,
            angle,
            belong_province,
            belong_city,
            belong_county,
            belong_town,
            location_address,
            location_address_distance,
            location_address_position,
            loocation_poi,
            location_poi_distance,
            location_road,
            location_road_distance

        FROM xian_disaster_real
        WHERE disaster_id = CAST(#{param1, jdbcType=VARCHAR} AS INTEGER)
          AND disaster_trigger = #{param2, jdbcType=VARCHAR}
          and is_deleted='0'
        ORDER BY start_time DESC
    </select>
    <select id="selectById" resultType="com.ruoyi.system.domain.entity.XianDisasterReal">
        SELECT
            disaster_id,
            disaster_trigger,
            plot_id,
            ST_AsText(geom) AS geom,
            plot_type,
            start_time,
            end_time,
            drawtype,
            angle,
            belong_province,
            belong_city,
            belong_county,
            belong_town,
            location_address,
            location_address_distance,
            location_address_position,
            loocation_poi,
            location_poi_distance,
            location_road,
            location_road_distance

        FROM xian_disaster_real
        WHERE plot_id = #{param1}
          and is_deleted='0'
        ORDER BY start_time DESC
    </select>
</mapper>

